<section id="about">
    <h2 style="color:#780000" class="h2">About Us</h2>
    <p>
        <b>K K Custom Leather</b> is dedicated to bring you the best quality product for the lowest possible price. <img src="image/market.jpg" width="250" height="170" alt="market" /> We only use top-quality leather and materials to make a fantastic quality product. We have over 37 styles of belts to choose from and growing. They have been engineered to fit anyone and suit any need! Our products are built to last!   
    </p>
    <p>
	<b>We</b> are currently looking for dealers and buyers. We also offer top-notch service. You won't be disappointed with our products! We also offer custom crests, custom guitar straps, custom dog collars, custom rifle slings, custom wallets, custom purses, custom hand bags &amp; custom specialty orders.  Custom hand tooling is our specialty, If we can trace it we can usually tool it.
    </p>
    <h2 style="color:#780000" class="h2">Work Environment</h2>
    <img width="350" height="300" src="image/shop.jpg" alt="shop" />
</section>