<div>
    <h2>Find Us Here:</h2>
    <p>Phone: </p>
    <p>Email: </p>
    <p>Address: </p>
</div>
<div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2569.9223295914576!2d-97.14097859999997!3d49.900261500000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52ea715dbad444d1%3A0x7e16a954d8a0e7e4!2s160+Princess+St%2C+Winnipeg%2C+MB+R3B!5e0!3m2!1sen!2sca!4v1417847506069" width="350" height="300" style="border:0"></iframe>
</div>