<section id="contact">
    <div>
        <h2>Find Us Here:</h2>
        <p><strong>Phone: </strong><br/>(204) 479-7760</p>
        <p><strong>Email: </strong><br/>kkcleather@shaw.ca</p>
        <p><strong>Address: </strong><br/>156 Freemont Bay , Winnipeg Manitoba Canada R2Y 1H3</p>
    </div>
    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2570.7355175109724!2d-97.3052051!3d49.8849932!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52ea0c6392f5702b%3A0x31407721558e5717!2s156+Freemont+Bay%2C+Winnipeg%2C+MB+R2Y+1H3!5e0!3m2!1sen!2sca!4v1420500846237" width="350" height="300" style="border:0"></iframe>
    </div>
</section>