<section id="ad">
    <%= image_tag @newone.images.url, width:750, height:200 %>
    <p>Our New Product</p>
</section>

<section id="productmainpage">
    <% @products.each do |product| %>
        <div class="mainshow">
            <h3><%= link_to product.name, product_path(product) %></h3>
            <% if product.images.present? %>
                <%= link_to image_tag(product.images.large.url), product_path(product) %>
            <% end %>
        </div>
    <% end %>
</section>