<section id="ad">
    <%= image_tag @newone.images.url, width:750, height:200 %>
    <p>Our New Product</p>
</section>

<section id="productmainpage">
    <section id="mainshow">
        <% @products.each do |product| %>
            <div><%= product.name %><br/>
                <% if product.images.present? %>
                    <%= image_tag product.images.large.url %>
                <% end %>
            </div><br/>
        <% end %>
    </section>
</section>