<div>
    <h2><%= @product.name %></h2>
    <p>
        <% if @product.images.present? %>
            <%= image_tag @product.images.xlarge.url %>
        <% end %>
        <br/><strong>Product Details: </strong><%= @product.description %>
    </p>
</div>