<footer>
  <nav class="navbottom">
    <ul>
      <li><%= link_to "HOME", home_path %></li>
      <li><%= link_to "PRODUCTS", products_path %></li>
      <li><%= link_to "ABOUT US", about_path %></li>
      <li><%= link_to "CONTACT US", contact_path %></li>
    </ul>
  </nav>
  <p>Copyright &#169; 2015 K K Custom Leather . All Rights Reserved.</P>
</footer>