<section  id="productcate">
    <h4>All Categories</h4>
    <ul>
        <li><%= link_to 'Belt', belt_path %></li>
        <li><%= link_to 'Guitar Straps', gs_path %></li>
        <li><%= link_to 'Wallets', wallet_path %></li>
        <li><%= link_to 'Dog Collars & Leashes', dcl_path %></li>
    </ul>
</section>