// Place all the styles related to the kkcl controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 $default_width: 750px;

a{
    text-decoration: none;
}

#container{
    background: #E8E8E8;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    border-radius: 15px;
    box-shadow: -1px 0px 200px 0px #A1A1A1, 1px 0px 200px 0px #A1A1A1;
}

#google{
    float: right;
    margin-top: -30px;
}

.navtop {
    font-size: 35px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    ul{
        li{
            margin-left:28px;
        }
    }
}

.navbottom{
    ul{
        li{
           margin-right:5px;
        }
        li:after{
            content:"|";
            
        }
        
        li:last-of-type:after{
            content:"";
            
        }
    }
}

#log{
    font-size: 25px;
    ul{
        li{
            display: inline;
        }
        li:after{
            content:"|";
            margin-left: 10px;
        }
        
        li:last-of-type:after{
            content:"";
        }
    }
    float: right;
    margin-top:-110px;
}

nav ul{
    li{
        display: inline;
    }
}

footer{
    margin-top:200px;
    text-align: center;
    font-size: 13px;
}

#productcate{
    border: 1px dashed black;
    width:150px;
    position: fixed;
    margin-left: 15px;
    background: white;
    
    h4{
        margin-left: 5px;
    }
    
}

#showproduct{
    margin-left: 240px;

    .productspage{
        width:200px;
        display: inline-block;
        margin-right: 50px;
        
        h2{
            a{
                color: black;
                font-size: 20px;
            }
        }
    }
    
    
}

#productmainpage{
    width:$default_width;
    margin-left: auto;
    margin-right: auto;
    
    .mainshow{
        width:300px;
        display: inline-block;
        margin-right:50px;
        margin-left: 20px;
        
        h3{
            a{
                color: black;
                font-size: 20px;
            }
        }
    }
}

#about{
    width:$default_width;
    margin-left: auto;
    margin-right: auto;
    
    P{
        font-size:20px;
        b{
            font-size:30px;
        }
        img{
            float:right;
        }
    }
}

#contact{
    width:$default_width;
    margin-left: auto;
    margin-right: auto;
}

#ad{
    border: 1px double black;
    height: 200px;
    width: $default_width;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 35px;
    
    P{
        font-size:28px;
        font-weight: bold;
        color: white;
        margin-top: -200px;
        margin-left: 10px;
    }
}

#empty{
    width: $default_width / 1.5;
    margin-left:auto;
    margin-right:auto;
    height:400px;
    font-size: 37px;
}

.oneproduct{
    width:$default_width - 230;
    margin-left:auto;
    margin-right:auto;
    
    h2{
        font-size: 2.5em;
    }
    
    strong{
        font-size: 1.3em;
        color: blue;
    }
}