// Place all the styles related to the kkcl controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container{
    background: #E8E8E8;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    border-radius: 15px;
}

.navtop {
    background: blue;
}

.navbottom{
    ul{
        li{
           margin-right:12px; 
        }
        li:after{
            content:"|";
        }
        
        li:last-of-type:after{
            content:"";
        }
    }
}

nav ul{
    li{
        display: inline;
    }
}

footer{
    margin-top:200px;
    text-align: center;
    font-size: 13px;
}